@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
       url('../fonts/BebasNeueBold.woff') format('woff');
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
       url('../fonts/BebasNeueBook.woff') format('woff');
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
       url('../fonts/BebasNeueRegular.woff') format('woff');
}
@font-face {
  font-family: 'helvetica';
  src: url('../fonts/helvetica-lt-std-bold-condensed.woff2') format('woff2'),
       url('../fonts/helvetica-lt-std-bold-condensed.woff') format('woff');
}

@font-face {
  font-family: 'lato-medium';
  src: url('../fonts/lato-medium.woff2') format('woff2'),
       url('../fonts/lato-medium.woff') format('woff');
}

@font-face {
  font-family: 'Lato-MediumItalic';
  src: url('../fonts/Lato-MediumItalic.woff2') format('woff2'),
       url('../fonts/Lato-MediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Billy-Ohio';
  src: url('../fonts/BillyOhio.woff2') format('woff2'),
       url('../fonts/BillyOhio.woff') format('woff');
}


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gi51b');
    src:  url('../fonts/icomoon.eot?gi51b#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?gi51b') format('truetype'),
      url('../fonts/icomoon.woff?gi51b') format('woff'),
      url('../fonts/icomoon.svg?gi51b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-map-marker:before {
    content: "\f041";
  }
  .icon-facebook:before {
    content: "\f09a";
  }
  .icon-facebook-f:before {
    content: "\f09a";
  }
  .icon-google-plus:before {
    content: "\f0d5";
  }
  .icon-linkedin:before {
    content: "\f0e1";
  }
  .icon-youtube:before {
    content: "\f167";
  }
  .icon-vk:before {
    content: "\f189";
  }
  .icon-digg:before {
    content: "\f1a6";
  }
  .icon-deviantart:before {
    content: "\f1bd";
  }
  